.db_tb_container {
  isolation: isolate;
}

.db_tb_new_btn {
  position: sticky;
  bottom: 10px;
  background-color: var(--bg-opa-color);
  backdrop-filter: blur(10px);

  & button {
    width: 100%;
  }
}

.db_tb_new_btn::after {
  content: '';
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  height: 10px;
  background-color: var(--bg-color);
}
